body{
  background-image: url('../img/glenn-carstens-peters-RLw-UC03Gwc-unsplash.jpg');
  background-position: center;
}

#todo{
  margin: 0 auto
}

#todo .todo-body{
  background-color: #eee;
}

#todo h1{
  margin: 0 15px;
}

.todos{
  margin: 20px 0;
  list-style: none;
}

.todo button{
  float: right;
  margin: 3px;
}


#login,
#register{
  background-color: #eee;
  padding: 15px;
  margin: 0 auto;
}